.wrapper {
  padding: 16px;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  border-radius: 14px;
  background: #3689FF;
  border: none;
  cursor: pointer;
}